.footer-content{
    background-color:rgb(32 35 42);
    
}
 #fb-open-source{
    padding: 5px;
    width: 200px;
    height: 60px;
}
#u-list{
    color:white;
    list-style: none;
    padding-top: 20px;
}
#docs{
    color: thistle;
    padding-left: 30px;
    padding-top: 20px;
    font-weight: bold;
}